<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="An Unoffical Top Chef Fansite">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Top Chef Kitchen</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/chefs">Chefs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/auth/google" class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span>  Login with Google</a></li>
            </ul>
        </div>
    </nav>
    <img id="logo" src="/images/UnoffcialTopChefKitchen.jpg" alt="siteLogo">
  <div class="jumbotron" id="welcomeMessage">
    <h2>Top Chef Winners</h4>
    <div id="chefs">
      <a href="#"><img style="height:150px" src="/images/chefs/01-Harold.jpg"><br>
      Season 1 | Harold Dieterle</a><br><br>
      <a href="#"><img style="height:150px" src="/images/chefs/02-Ilan.jpg"><br>
      Season 2 | Ilan Hall</a><br><br>
      <a href="#"><img style="height:150px" src="/images/chefs/03-Hung.jpg"><br>
      Season 3 | Hung Huynh</a><br><br>
      <a href="#"><img style="height:150px" src="/images/chefs/04-Stephanie.jpg"><br>
      Season 4 | Stephanie Izard</a><br><br>
      <a href="#"><img style="height:150px" src="/images/chefs/05-Hosea.jpg"><br>
      Season 5 | Hosea Rosenberg</a><br><br>
      <a href="#"><img style="height:150px" src="/images/chefs/06-Michael.jpg"><br>
      Season 6 | Michael Voltaggio</a><br><br>
      <a href="#"><img style="height:150px" src="/images/chefs/07-Kevin.jpg"><br>
      Season 7 | Kevin Sbraga</a><br><br>
      <a href="#"><img style="height:150px" src="/images/chefs/08-Richard.jpg"><br>
      Season 8 | Richard Blais</a><br><br>
      <a href="#"><img style="height:150px" src="/images/chefs/09-Paul.jpg"><br>
      Season 9 | Paul Qui</a><br><br>
      <a href="#"><img style="height:150px" src="/images/chefs/10-Kristen.jpg"><br>
      Season 10 | Kristen Kish</a><br><br>
      <a href="#"><img style="height:150px" src="/images/chefs/11-Nicholas.jpg"><br>
      Season 11 | Nicholas Elmi</a><br><br>
      <a href="#"><img style="height:150px" src="/images/chefs/12-Mei.jpg"><br>
      Season 12 | Mei Lin</a><br><br>
    </div>
  </div>


  <div class="container" id="footer">
  <div class="row">
  <hr>
    <div class="col-lg-12">
      <div class="col-md-8">
        <a href="/disclaimer">Disclaimer</a> | <a href="/about">About</a>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2016 by <span><a href="twitter.com/knowledgemc">Knowledge.</a></span> All rights reserved</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
