<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="An Unoffical Top Chef Fansite">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Top Chef Kitchen</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/chefs">Chefs</a></li>
                <li><a href="/about">About</a></li>
                <% if (user) { %>
                  <li><a href="/logout" class="logo" id='user-name' value=<%= user.name %>>Hi, <%= user.name %> | Logout</a></li>
                <% } else { %>
                  <li><a href="/auth/google" class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span>  Login with Google</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <img id="logo" src="/images/UnoffcialTopChefKitchen.jpg" alt="siteLogo">
  <div class="jumbotron" id="welcomeMessage">
    <h2>Disclaimer</h4>
    <div id="disclaimerText">
    <p>This site is an UNOFFICIAL website and is in no way affiliated with or connected to <a href="http://www.bravotv.com/top-chef">Top Chef</a> or
    <a href="http://bravotv.com">Bravo</a>.
    All the information on this website is published in good faith and for general information purposes only.
    This site does not make any warranties about the completeness, reliability and accuracy of this information.
    Any action you take upon the information you find on this website is strictly at your own risk.
    This site shall not be liable for any losses and/or damages in connection with the use of our website.
    This site provides links to other websites by following hyperlinks to such external sites.
    While we strive to provide only quality links to useful and ethical websites,
    we have no control over the content and nature of these sites.
    These links to other websites do not imply a recommendation for all the content found on these sites.
    Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone ‘bad’.
    Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control.
    Please be sure to check the Privacy Policies of these sites as well as their “Terms of Service” before engaging in any business or uploading any information.
    </p></div>
    <span id="consent">Consent</span>
     <p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
  </div>

  <main>


  </main>

  <div class="container" id="footer">
  <div class="row">
  <hr>
    <div class="col-lg-12">
      <div class="col-md-8">
        <a href="/Disclaimer">Disclaimer</a> | <a href="/about">About</a>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2016 by <span><a href="http://twitter.com/knowledgemc">Knowledge.</a></span> All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
