<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="An Unoffical Top Chef Fansite">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Top Chef Kitchen</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/chefs">Chefs</a></li>
                <li><a href="/about">About</a></li>
                <% if (user) { %>
                  <li><a href="/logout" class="logo" id='user-name' value=<%= user.name %>>Hi, <%= user.name %> | Logout</a></li>
                <% } else { %>
                  <li><a href="/auth/google" class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span>  Login with Google</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <img id="logo" src="/images/UnoffcialTopChefKitchen.jpg" alt="siteLogo">
  <div class="jumbotron" id="welcomeMessage">
    <h2>Season 2 | Ilan Hall</h4>
  </div>
  <main>
    <div class="chefPic">
      <img src="/images/chefs/02-Ilan.jpg">
    </div>
    <div class="bio">
      <span style="font-weight:bold"> Name: </span>Ilan Hall<br>
      <span style="font-weight:bold"> Bio: </span> Ilan Hall was the winning chef of Top Chef season 2.
      Hall is a native of Great Neck, New York. His parents were both immigrants: his father from Glasgow,
      Scotland, and his mother from Israel. Both his parents were from Jewish families. As a teenager, Hall
      worked at Marine Fishery, a seafood store in his hometown of Great Neck and was later trained at Italy's
      Lorenzo de' Medici Apicus Program and at the Culinary Institute of America (CIA). He attended the CIA at
      the same time as his Top Chef runner-up Marcel Vigneron. At the time of his season two Top Chef competition,
      Ilan was a line cook at Casa Mono, a Spanish restaurant in Manhattan.  He is perhaps best recognized as the
      winner of the most drama-filled season of Top Chef, which saw him involved in a series of non-cooking related
      antics related to his rivalry with another contestant, Marcel Vigneron. Bravo, the television network producing
      Top Chef, ranks Ilan's partaking in "The Head Shaving Incident" against Vigneron as "probably the biggest
      scandal in Top Chef history." Many have cited Ilan and Marcel's disdain for one another as the most poignant
      aspect of season 2, as is demonstrated in the "Top Chef Reunion" episode hosted by season 5 contestant,
      Fabio Viviani. During this episode, staged several years after season 2, both Ilan and Marcel acknowledged
      that they had made amends since their departures from the hit cooking show and no longer were interested
      in being associated with the belligerence, which had plagued the near entirety of their particular season
      on Top Chef.  As of 2008, Hall lives in Los Angeles, California. In August 2009, he opened his first restaurant,
      The Gorbals, in downtown Los Angeles. Less than a week after opening, The Gorbals was shut down by the county
      health department because of an inadequate water heater. It reopened on October 23, 2009, but then permanently
      closed in 2014. In 2014, Hall opened a second iteration of The Gorbals restaurant in Williamsburg, Brooklyn.
      He redesigned the menu in 2015 and renamed the restaurant - Esh. The concept is Israeli barbecue.
    </div>
    <div class="links">
      <div>
        <span style="font-weight:bold">Restaurants:</span>
        <ul>
          <li style="text-decoration: line-through;">The Gorbals</li>
          <li style="text-decoration: line-through;">Esh Restaurant</li>
          <li>All his restaurants have been permanently <a href="https://www.yelp.com/biz/esh-restaurant-gorbals-brooklyn-brooklyn-2">closed</a></li>
        </ul>
        <span style="font-weight:bold">Instagram:</span> <a href="https://www.instagram.com/ilanhall/">@ilanhall</a>

      </div>
    </div>
  </main>

  <%- include('../partials/scripts') %>
  <div class="container">
  <div class="row">
  <hr>
    <div class="col-lg-12">
      <div class="col-md-8">
        <a href="/disclaimer">Disclaimer</a> | <a href="/about">About</a>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2016 by <span><a href="http://twitter.com/knowledgemc">Knowledge.</a></span> All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
